<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>mbroumsadja</title>
</head>
<body>
    <header>
      <div class="user">
        <button type="button" class="Utilisateur"></button>
        <% if (session) {%>
            <h4><%= session %></h4>
         <%} else { %>
             <span>vous n'etes pas connecter</span>
         <% } %>
      </div>
            <button type="button" class="feetback"><a href="/signin">login</a></button>
    </header>
    <section class="search">
        <!-- <button type="button" class="searchIcon"></button> -->
        <input type="text" name="" id=""  placeholder=" Rechercher ici ...">
        <button type="button" class="searchbtn">search</button>
    </section>
    <section class="navBar"> 
        <li><a href="/">forum</a></li>
        <li><a href="/">IA</a></li>
        <li><a href="/">Node</a></li>
        <li><a href="/">Python</a></li>
        <li><a href="/">SQL</a></li>
    </section>
    <main>
         
        <div class="container">
            <% if (!Articles) {%>
                <div class="news-container">
                    <% Articles.forEach(Articles => { %>
                        <div class="Articles-card">
                            <img src="<%= Articles.urlToImage %>" alt="<%= Articles.title %>" class="Articles-image">
                            <div class="Articles-content">
                                <div class="source-date">
                                    <span><%= Articles.source.name %></span>
                                    <span><%= new Date(Articles.publishedAt).toLocaleDateString() %></span>
                                </div>
                                <h2 class="title"><%= Articles.title %></h2>
                                <p class="description"><%= Articles.description %></p>
                                <p class="author">By <%= Articles.author %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
             <%} else { %>
                <h1>
                    BIENVENUE DANS MON BLOG
                 </h1>
             <% } %>
        </div>
    </main>

    <!-- <a href="/signup">signup</a>
    <a href="/signin">signin</a>
    <a href="/logout">logout</a>
    <a href="/admin">admin</a> -->
    <footer>
        <li><a href="#">linkind</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Chatbot</a></li>
        <li><a href="#">Wathsapp</a></li>
    </footer>
<script src="js/script.js"></script>
</body>
</html>