<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>mbroumsadja</title>
</head>
<body>

    <header>
        <div class="user">

            <% if (session) { %>
     <div class="con">
        <h4>Bienvenue, <%= session %></h4>
        <button type="button" class="feedback">
            <a href="/logout">logout</a>
        </button>
     </div>
            <% } else { %>
<div class="discon">
    <span>Vous n'êtes pas connecté</span>
    <div class="link">
        <button type="button" class="feedback">
            <a href="/signin">Login</a>
        </button>
        <button type="button" class="feedback">
            <a href="/signup">signup</a>
        </button>
       </div>
    </div>
</div>
            <% } %>


    </header>

    <section class="social">
            <li><a href="#">Github</a></li>
            <li><a href="#">Linkin</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">WhatsApp</a></li>
    </section>

    <main>
        <div class="container">
            <% if (Articles && Articles.length > 0) { %>
                    <% Articles.forEach(article => { %>
                        <div class="article-card">
                            <!-- Image de l'article -->
                            <img src="<%= article.urlToImage %>" alt="<%= article.title %>" class="article-image" width="400" height="400">
                            <div class="article-content">
                                <!-- Source et date -->
                                <div class="source-date">
                                    <span><%= article.source.name %></span>
                                    <span><%= new Date(article.publishedAt).toLocaleDateString() %></span>
                                </div>
                                <!-- Titre et description -->
                                <h2 class="title"><%= article.title %></h2>
                                <p class="description"><%= article.description %></p>
                                <!-- Auteur -->
                                <% if (article.author) { %>
                                    <p class="author">By <%= article.author %></p>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
            <% } else { %>
                <h1>Bienvenue dans mon blog</h1>
                <p>Aucun article disponible pour le moment.</p>
            <% } %>
        </div>
    </main>

    <section class="social">
        <li><a href="#">Github</a></li>
        <li><a href="#">Linkin</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">WhatsApp</a></li>
</section>
    <script src="js/script.js"></script>
</body>
</html>
